<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>min</key>
	<dict>
		<key>kk_hp_ell_labelText</key>
		<string>14,通用cell标题字体大小</string>
		<key>kk_hp_cell_detailLabel</key>
		<string>13,通用cell描述字体大小</string>
	</dict>
	<key>middle</key>
	<dict>
		<key>kk_hp_cell_labelText</key>
		<string>15</string>
		<key>kk_hp_cell_detailLabel</key>
		<string>14</string>
	</dict>
	<key>max</key>
	<dict>
		<key>kk_hp_cell_labelText</key>
		<string>16</string>
		<key>kk_hp_cell_detailLabel</key>
		<string>15</string>
	</dict>
</dict>
</plist>
