<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainStream</key>
	<dict>
		<key>tintColor</key>
		<string>0,200,136,1.0</string>
		<key>tintColor_night</key>
		<string>0,123,80,1.0</string>
		<key>tabBarbgColor</key>
		<string>237,237,237,1.0</string>
		<key>tabBarbgColor_night</key>
		<string>21,28,28,1.0</string>
		<key>homePageItemImage</key>
		<string>tabBar_home_icon</string>
		<key>homePageItemImageClick</key>
		<string>tabBar_home_click_icon</string>
		<key>disconverItemImage</key>
		<string>tabBar_discover</string>
		<key>disconverItemImageClick</key>
		<string>tabBar_discover_click</string>
		<key>meItemImage</key>
		<string>tabBar_me_icon</string>
		<key>meItemImageClick</key>
		<string>tabBar_me_click_icon</string>
	</dict>
	<key>homePage</key>
	<dict>
		<key>homeViewBgColorDefault</key>
		<string>223,223,223,1.0</string>
		<key>homeViewBgColorDefault_night</key>
		<string>16,23,23,1.0</string>
		<key>homeTabBarbgColor</key>
		<string>0,205,155,1.0</string>
		<key>homeTabBarbgColor_night</key>
		<string>0,90,70,1.0</string>
		<key>homeNavTitleColor</key>
		<string>235,250,250,1.0</string>
		<key>homeNavTitleColor_night</key>
		<string>153,153,153,1.0</string>
		<key>homeNavSearchTextColor</key>
		<string>188,188,188,1.0</string>
		<key>homeNavSearchTextColor_night</key>
		<string>108,108,108,1.0</string>
		<key>homeNavSearchBgColor</key>
		<string>235,250,250,1.0</string>
		<key>homeNavSearchBgColor_night</key>
		<string>153,153,153,1.0</string>
		<key>homeCellTextColor</key>
		<string>28,28,28,1.0</string>
		<key>homeCellTextColor_night</key>
		<string>105，105，105，1.0</string>
		<key>homeCellDetailTextColor</key>
		<string>175,175,175,1.0</string>
		<key>homeCellDetailTextColor_night</key>
		<string>62，62，62，1.0</string>
		<key>homeTagSelectColor</key>
		<string>15,140,115,1.0</string>
		<key>homeTagSelectColor_night</key>
		<string>14,81,65,1.0</string>
		<key>homeTagBgColor</key>
		<string>240,240,240,0.5</string>
		<key>homeTagBgColor_night</key>
		<string>140,140,140,0.5</string>
	</dict>
	<key>discover</key>
	<dict>
		<key>viewBgColorDefault</key>
		<string>223,223,223,1.0</string>
		<key>viewBgColorDefault_night</key>
		<string>16,23,23,1.0</string>
	</dict>
	<key>me</key>
	<dict>
		<key>viewBgColorDefault</key>
		<string>223,223,223,1.0</string>
		<key>viewBgColorDefault_night</key>
		<string>16,23,23,1.0</string>
	</dict>
</dict>
</plist>
