<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>字典key值对应</key>
	<dict>
		<key>top</key>
		<string>社会热点</string>
		<key>info</key>
		<string>健康资讯</string>
		<key>lore</key>
		<string>健康知识</string>
		<key>food</key>
		<string>健康食品</string>
		<key>cook</key>
		<string>健康菜谱</string>
		<key>drug</key>
		<string>药品查询</string>
		<key>disease</key>
		<string>疾病API列表接口</string>
		<key>symptom</key>
		<string>病状信息API列表接口</string>
		<key>operation</key>
		<string>手术项目</string>
		<key>check</key>
		<string>检查项目</string>
		<key>department</key>
		<string>科室分类</string>
		<key>place</key>
		<string>身体部位</string>
		<key>hospital</key>
		<string>医院门诊</string>
		<key>factory</key>
		<string>药厂药企</string>
		<key>store</key>
		<string>药店药房</string>
	</dict>
	<key>top</key>
	<dict>
		<key>title</key>
		<string>社会热点</string>
		<key>detail</key>
		<string>做最及时的社会热点信息，最近热点热词... 。</string>
		<key>classify</key>
		<dict>
			<key>name</key>
			<string>社会热点分类</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/top/classify</string>
			<key>params</key>
			<array/>
		</dict>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>社会热点列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/top/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>社会热点详情</string>
			<key>describe</key>
			<string>新闻资讯id</string>
			<key>url</key>
			<string>http://www.tngou.net/api/top/show</string>
			<key>params</key>
			<array>
				<string>id</string>
			</array>
		</dict>
	</dict>
	<key>info</key>
	<dict>
		<key>title</key>
		<string>健康资讯</string>
		<key>detail</key>
		<string>健康新闻数据</string>
		<key>classify</key>
		<dict>
			<key>name</key>
			<string>分类</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/info/classify</string>
			<key>params</key>
			<array/>
		</dict>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/info/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>详情</string>
			<key>describe</key>
			<string>新闻资讯id</string>
			<key>url</key>
			<string>http://www.tngou.net/api/info/show</string>
			<key>params</key>
			<array>
				<string>id</string>
			</array>
		</dict>
	</dict>
	<key>lore</key>
	<dict>
		<key>title</key>
		<string>健康知识</string>
		<key>detail</key>
		<string>实用的健康知识,健康小常识,生活小常识,健康保健知识,健康饮食,养生保健知识,居家常识... 。</string>
		<key>classify</key>
		<dict>
			<key>name</key>
			<string>健康知识分类</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/lore/classify</string>
			<key>params</key>
			<dict/>
		</dict>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>健康知识列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/lore/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>健康知识详情</string>
			<key>describe</key>
			<string>params.id = 列表id</string>
			<key>url</key>
			<string>http://www.tngou.net/api/lore/show</string>
			<key>params</key>
			<array>
				<string>id</string>
			</array>
		</dict>
	</dict>
	<key>food</key>
	<dict>
		<key>title</key>
		<string>健康食品</string>
		<key>detail</key>
		<string>食品，只要是食品都有它的功能与疗效，这里的就收集了关于食品的简介和功能疗效</string>
		<key>classify</key>
		<dict>
			<key>name</key>
			<string>健康食品分类</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/food/classify</string>
			<key>params</key>
			<dict/>
		</dict>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>健康食品列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/food/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>健康食品详情</string>
			<key>describe</key>
			<string>params.id = 列表id</string>
			<key>url</key>
			<string>http://www.tngou.net/api/food/show</string>
			<key>params</key>
			<array>
				<string>id</string>
			</array>
		</dict>
	</dict>
	<key>cook</key>
	<dict>
		<key>title</key>
		<string>健康菜谱</string>
		<key>detail</key>
		<string>让人们在宣泄的都市中体验在家常做菜,享受美食的乐趣.找家常菜谱,上健康厨房网。</string>
		<key>classify</key>
		<dict>
			<key>name</key>
			<string>健康菜谱分类</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/cook/classify</string>
			<key>params</key>
			<dict/>
		</dict>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>健康菜谱列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/cook/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>健康菜谱详情</string>
			<key>describe</key>
			<string>params.id = 列表id</string>
			<key>url</key>
			<string>http://www.tngou.net/api/cook/show</string>
			<key>params</key>
			<array>
				<string>id</string>
			</array>
		</dict>
	</dict>
	<key>drug</key>
	<dict>
		<key>title</key>
		<string>药品查询</string>
		<key>detail</key>
		<string></string>
		<key>classify</key>
		<dict>
			<key>name</key>
			<string>分类</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/drug/classify</string>
			<key>params</key>
			<dict/>
		</dict>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/drug/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>详情</string>
			<key>describe</key>
			<string>params.id = 列表id</string>
			<key>url</key>
			<string>http://www.tngou.net/api/drug/show</string>
			<key>params</key>
			<array>
				<string>id</string>
			</array>
		</dict>
		<key>name</key>
		<dict>
			<key>name</key>
			<string>药品信息名称详情API接口</string>
			<key>describe</key>
			<string>药品名称</string>
			<key>url</key>
			<string>http://www.tngou.net/api/drug/name</string>
			<key>params</key>
			<array>
				<string>name</string>
			</array>
		</dict>
		<key>code</key>
		<dict>
			<key>name</key>
			<string>药品条形码查询API接口</string>
			<key>describe</key>
			<string>条形码【13位】</string>
			<key>url</key>
			<string>http://www.tngou.net/api/drug/code</string>
			<key>params</key>
			<array>
				<string>code</string>
			</array>
		</dict>
	</dict>
	<key>disease</key>
	<dict>
		<key>title</key>
		<string>疾病API列表接口</string>
		<key>detail</key>
		<string></string>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/disease/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>place</key>
		<dict>
			<key>name</key>
			<string>身体部位疾病列表接口</string>
			<key>describe</key>
			<string>params.id = 列表id</string>
			<key>url</key>
			<string>http://www.tngou.net/api/disease/place</string>
			<key>params</key>
			<array>
				<string>id</string>
			</array>
		</dict>
		<key>department</key>
		<dict>
			<key>name</key>
			<string>科室疾病API列表接口</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/disease/department</string>
			<key>params</key>
			<array>
				<string>name</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>疾病详情AP开放接口</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/disease/show</string>
			<key>params</key>
			<array>
				<string>code</string>
			</array>
		</dict>
		<key>name</key>
		<dict>
			<key>name</key>
			<string>疾病名称详情API开放接口</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/disease/name</string>
			<key>params</key>
			<array>
				<string>code</string>
			</array>
		</dict>
	</dict>
	<key>symptom</key>
	<dict>
		<key>title</key>
		<string>病状信息API列表接口</string>
		<key>detail</key>
		<string></string>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/symptom/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>place</key>
		<dict>
			<key>name</key>
			<string>病身体状列表API接口</string>
			<key>describe</key>
			<string>params.id = 列表id</string>
			<key>url</key>
			<string>http://www.tngou.net/api/symptom/place</string>
			<key>params</key>
			<array>
				<string>id</string>
			</array>
		</dict>
		<key>department</key>
		<dict>
			<key>name</key>
			<string>科室病状API列表接口</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/symptom/department</string>
			<key>params</key>
			<array>
				<string>name</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>疾病详情API开放接口</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/symptom/show</string>
			<key>params</key>
			<array>
				<string>code</string>
			</array>
		</dict>
		<key>name</key>
		<dict>
			<key>name</key>
			<string>病状名称详情API开放接口</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/symptom/name</string>
			<key>params</key>
			<array>
				<string>code</string>
			</array>
		</dict>
	</dict>
	<key>operation</key>
	<dict>
		<key>title</key>
		<string>手术项目</string>
		<key>detail</key>
		<string></string>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/operation/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>place</key>
		<dict>
			<key>name</key>
			<string>手术项目身体部位API列表接口</string>
			<key>describe</key>
			<string>params.id = 列表id</string>
			<key>url</key>
			<string>http://www.tngou.net/api/operation/place</string>
			<key>params</key>
			<array>
				<string>id</string>
			</array>
		</dict>
		<key>department</key>
		<dict>
			<key>name</key>
			<string>手术项目科室API列表接口</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/operation/department</string>
			<key>params</key>
			<array>
				<string>name</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>手术项目详情API开放接口</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/operation/show</string>
			<key>params</key>
			<array>
				<string>code</string>
			</array>
		</dict>
		<key>name</key>
		<dict>
			<key>name</key>
			<string>手术项目详情API开放接口</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/operation/name</string>
			<key>params</key>
			<array>
				<string>code</string>
			</array>
		</dict>
	</dict>
	<key>check</key>
	<dict>
		<key>title</key>
		<string>检查项目</string>
		<key>detail</key>
		<string></string>
		<key>classify</key>
		<dict>
			<key>name</key>
			<string>分类</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/check/classify</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/check/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>place</key>
		<dict>
			<key>name</key>
			<string>检查项目身体部位API列表接口</string>
			<key>describe</key>
			<string>params.id = 列表id</string>
			<key>url</key>
			<string>http://www.tngou.net/api/check/place</string>
			<key>params</key>
			<array>
				<string>id</string>
			</array>
		</dict>
		<key>department</key>
		<dict>
			<key>name</key>
			<string>检查项目科室API列表接口</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/check/department</string>
			<key>params</key>
			<array>
				<string>name</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>检查项目详情API开放接口</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/check/show</string>
			<key>params</key>
			<array>
				<string>code</string>
			</array>
		</dict>
		<key>name</key>
		<dict>
			<key>name</key>
			<string>检查项目名称详情API开放接口</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/check/name</string>
			<key>params</key>
			<array>
				<string>code</string>
			</array>
		</dict>
	</dict>
	<key>department</key>
	<dict>
		<key>title</key>
		<string>科室分类</string>
		<key>detail</key>
		<string></string>
		<key>all</key>
		<dict>
			<key>name</key>
			<string>天狗全部科室信息平台开放接口</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/department/all</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>classify</key>
		<dict>
			<key>name</key>
			<string>天狗科室列表平台开放接口</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/department/classify</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
	</dict>
	<key>place</key>
	<dict>
		<key>title</key>
		<string>身体部位</string>
		<key>detail</key>
		<string></string>
		<key>all</key>
		<dict>
			<key>name</key>
			<string>全部身体部位信息API开放接口</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/place/all</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>classify</key>
		<dict>
			<key>name</key>
			<string>部位列表平台API开放接口</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/place/classify</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
	</dict>
	<key>hospital</key>
	<dict>
		<key>title</key>
		<string>医院门诊</string>
		<key>detail</key>
		<string></string>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>医院列表开放API接口</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/hospital/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>location</key>
		<dict>
			<key>name</key>
			<string>周边医院</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/hospital/location</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>医院信息</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/hospital/show</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>name</key>
		<dict>
			<key>name</key>
			<string>医院名称</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/hospital/name</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>feature</key>
		<dict>
			<key>name</key>
			<string>医院科室</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/hospital/feature</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
	</dict>
	<key>factory</key>
	<dict>
		<key>title</key>
		<string>药厂药企</string>
		<key>detail</key>
		<string></string>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>药企列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/factory/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>location</key>
		<dict>
			<key>name</key>
			<string>周边药企</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/factory/location</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>药企详情</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/factory/show</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>name</key>
		<dict>
			<key>name</key>
			<string>药企名称</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/factory/name</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
	</dict>
	<key>store</key>
	<dict>
		<key>title</key>
		<string>药店药房</string>
		<key>detail</key>
		<string></string>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>药店列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/store/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>location</key>
		<dict>
			<key>name</key>
			<string>周边列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/store/location</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>药店信息</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/store/show</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>name</key>
		<dict>
			<key>name</key>
			<string>药店名称</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/store/name</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
	</dict>
	<key>area</key>
	<dict>
		<key>title</key>
		<string>地域城市</string>
		<key>detail</key>
		<string></string>
		<key>province</key>
		<dict>
			<key>name</key>
			<string>省份信息</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/area/province</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>city</key>
		<dict>
			<key>name</key>
			<string>城市信息</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/area/city</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
	</dict>
	<key>search</key>
	<dict>
		<key>title</key>
		<string>搜索接口</string>
		<key>detail</key>
		<string></string>
		<key>search</key>
		<dict>
			<key>name</key>
			<string>搜索接口</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/search</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
