<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<array>
		<dict>
			<key>title</key>
			<string>健康问答</string>
			<key>detail</key>
			<string>我们只做健康，只做精华，所以我们的网站名字叫做“一问”，百问不如一问。</string>
			<key>API</key>
			<array>
				<dict>
					<key>name</key>
					<string>健康问答分类</string>
					<key>describe</key>
					<string></string>
					<key>url</key>
					<string>http://www.tngou.net/api/ask/classify</string>
					<key>params</key>
					<dict/>
				</dict>
				<dict>
					<key>name</key>
					<string>健康问答列表</string>
					<key>describe</key>
					<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
					<key>url</key>
					<string>http://www.tngou.net/api/ask/list</string>
					<key>params</key>
					<array>
						<string>id</string>
						<string>page</string>
						<string>rows</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>健康问答详情</string>
					<key>describe</key>
					<string>params.id = 列表id</string>
					<key>url</key>
					<string>http://www.tngou.net/api/ask/show</string>
					<key>params</key>
					<array>
						<string>id</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>健康图书</string>
			<key>detail</key>
			<string>一个以健康、医学、医药、健康生活等相关书籍为主题的健康图书馆，开放，服务为理念的在线图书馆！</string>
			<key>API</key>
			<array>
				<dict>
					<key>name</key>
					<string>健康图书分类</string>
					<key>describe</key>
					<string></string>
					<key>url</key>
					<string>http://www.tngou.net/api/book/classify</string>
					<key>params</key>
					<dict/>
				</dict>
				<dict>
					<key>name</key>
					<string>健康图书列表</string>
					<key>describe</key>
					<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
					<key>url</key>
					<string>http://www.tngou.net/api/book/list</string>
					<key>params</key>
					<array>
						<string>id</string>
						<string>page</string>
						<string>rows</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>健康图书详情</string>
					<key>describe</key>
					<string>params.id = 列表id</string>
					<key>url</key>
					<string>http://www.tngou.net/api/book/show</string>
					<key>params</key>
					<array>
						<string>id</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>New item - 2</key>
	<array>
		<dict>
			<key>title</key>
			<string>药品信息</string>
			<key>detail</key>
			<string>通过药品名字直接得到药品说明书、价格、生产厂家、国药准字，同时也支持条形码…</string>
		</dict>
		<dict>
			<key>title</key>
			<string>疾病信息</string>
			<key>detail</key>
			<string>通过疾病信息了解相关疾病知识，关联相关疾病，食品，药品等疾病注意事项...</string>
		</dict>
		<dict>
			<key>title</key>
			<string>病状信息</string>
			<key>detail</key>
			<string>病状大全提供详尽的:病状查询,病状分析,病状就医,病状治疗,病状预防,病状诊断,病状概述。... 。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>手术项目</string>
			<key>detail</key>
			<string>提供详尽的手术方法、手术资料、手术大全、手术详情、手术后注意事项、相关医院、相关医生等查询。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>检查项目</string>
			<key>detail</key>
			<string>检查库为你提供详尽的:疾病检查,病种检查,检查介绍,检查正常值,检查异常结果,需要检查人群</string>
		</dict>
		<dict>
			<key>title</key>
			<string>科室分类</string>
			<key>detail</key>
			<string>取得相关科室信息，该数据可以拥有 疾病、病状、手术的查找..</string>
		</dict>
		<dict>
			<key>title</key>
			<string>身体部位</string>
			<key>detail</key>
			<string>取得相关身体部位，该数据可以拥有 疾病、病状、手术的查找..</string>
		</dict>
		<dict>
			<key>title</key>
			<string>医院门诊</string>
			<key>detail</key>
			<string>可以轻松的找到医院信息，通过地域，科室、综合评分对医院排名查找。 医院特色科室、医院问答解疑和医院平价等相关信息。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>药厂药企</string>
			<key>detail</key>
			<string>主要通过专门的药企业信息。如药企联系电话，药企邮箱，药企业网址、药企业地址等相关药店简介信息。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>药店药房</string>
			<key>detail</key>
			<string>主要通过专门的药店信息。如药店联系电话，药店邮箱，药房网址、药房地址等相关药店简介信息。</string>
		</dict>
	</array>
	<key>New item - 3</key>
	<array>
		<dict>
			<key>title</key>
			<string>健康食品</string>
			<key>detail</key>
			<string>食品，只要是食品都有它的功能与疗效，这里的就收集了关于食品的简介和功能疗效</string>
			<key>API</key>
			<array>
				<dict>
					<key>name</key>
					<string>健康食品分类</string>
					<key>describe</key>
					<string></string>
					<key>url</key>
					<string>http://www.tngou.net/api/food/classify</string>
					<key>params</key>
					<dict/>
				</dict>
				<dict>
					<key>name</key>
					<string>健康食品列表</string>
					<key>describe</key>
					<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
					<key>url</key>
					<string>http://www.tngou.net/api/food/list</string>
					<key>params</key>
					<array>
						<string>id</string>
						<string>page</string>
						<string>rows</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>健康食品详情</string>
					<key>describe</key>
					<string>新闻资讯id</string>
					<key>url</key>
					<string>http://www.tngou.net/api/food/show</string>
					<key>params</key>
					<array>
						<string>id</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>健康菜谱</string>
			<key>detail</key>
			<string>让人们在宣泄的都市中体验在家常做菜,享受美食的乐趣.找家常菜谱,上健康厨房网。</string>
			<key>API</key>
			<array>
				<dict>
					<key>name</key>
					<string>健康菜谱分类</string>
					<key>describe</key>
					<string></string>
					<key>url</key>
					<string>http://www.tngou.net/api/cook/classify</string>
					<key>params</key>
					<dict/>
				</dict>
				<dict>
					<key>name</key>
					<string>健康菜谱列表</string>
					<key>describe</key>
					<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
					<key>url</key>
					<string>http://www.tngou.net/api/cook/list</string>
					<key>params</key>
					<array>
						<string>id</string>
						<string>page</string>
						<string>rows</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>健康菜谱详情</string>
					<key>describe</key>
					<string>新闻资讯id</string>
					<key>url</key>
					<string>http://www.tngou.net/api/cook/show</string>
					<key>params</key>
					<array>
						<string>id</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>地域城市</string>
			<key>detail</key>
			<string>取得省份城市，该数据可以拥有 医院、药店、药企的查询</string>
		</dict>
		<dict>
			<key>title</key>
			<string>社会热点</string>
			<key>detail</key>
			<string>做最及时的社会热点信息，最近热点热词... 。</string>
			<key>API</key>
			<array>
				<dict>
					<key>name</key>
					<string>社会热点分类</string>
					<key>describe</key>
					<string></string>
					<key>url</key>
					<string>http://www.tngou.net/api/top/classify</string>
					<key>params</key>
					<dict/>
				</dict>
				<dict>
					<key>name</key>
					<string>社会热点列表</string>
					<key>describe</key>
					<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
					<key>url</key>
					<string>http://www.tngou.net/api/top/list</string>
					<key>params</key>
					<array>
						<string>id</string>
						<string>page</string>
						<string>rows</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>社会热点详情</string>
					<key>describe</key>
					<string>新闻资讯id</string>
					<key>url</key>
					<string>http://www.tngou.net/api/top/show</string>
					<key>params</key>
					<array>
						<string>id</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>图片图库</string>
			<key>detail</key>
			<string>最美的生活，最美的美女，为生活添加色彩... 。</string>
			<key>API</key>
			<array>
				<dict>
					<key>name</key>
					<string>图片图库分类</string>
					<key>describe</key>
					<string></string>
					<key>url</key>
					<string>http://www.tngou.net/tnfs/api/classify</string>
					<key>params</key>
					<dict/>
				</dict>
				<dict>
					<key>name</key>
					<string>图片图库列表</string>
					<key>describe</key>
					<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
					<key>url</key>
					<string>http://www.tngou.net/tnfs/api/list</string>
					<key>params</key>
					<array>
						<string>id</string>
						<string>page</string>
						<string>rows</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>图片图库详情</string>
					<key>describe</key>
					<string>新闻资讯id</string>
					<key>url</key>
					<string>http://www.tngou.net/tnfs/api/show</string>
					<key>params</key>
					<array>
						<string>id</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>全文搜索</string>
			<key>detail</key>
			<string>基于天狗云数据的全文搜索，通过简单的方式找到你需要的数据... 。</string>
		</dict>
	</array>
	<key>top</key>
	<dict>
		<key>title</key>
		<string>社会热点</string>
		<key>detail</key>
		<string>做最及时的社会热点信息，最近热点热词... 。</string>
		<key>classify</key>
		<dict>
			<key>name</key>
			<string>社会热点分类</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/top/classify</string>
			<key>params</key>
			<array/>
		</dict>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>社会热点列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/top/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>社会热点详情</string>
			<key>describe</key>
			<string>新闻资讯id</string>
			<key>url</key>
			<string>http://www.tngou.net/api/top/show</string>
			<key>params</key>
			<array>
				<string>id</string>
			</array>
		</dict>
	</dict>
	<key>info</key>
	<dict>
		<key>title</key>
		<string>健康资讯</string>
		<key>detail</key>
		<string>提供及时的健康信息 ，做一个及时的健康新闻资讯平台， 提供专业的健康新闻资讯。</string>
		<key>classify</key>
		<dict>
			<key>name</key>
			<string>健康新闻分类</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/info/classify</string>
			<key>params</key>
			<dict/>
		</dict>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>健康新闻列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/info/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>健康新闻详情</string>
			<key>describe</key>
			<string>新闻资讯id</string>
			<key>url</key>
			<string>http://www.tngou.net/api/info/show</string>
			<key>params</key>
			<array>
				<string>id</string>
			</array>
		</dict>
	</dict>
	<key>lore</key>
	<dict>
		<key>title</key>
		<string>健康知识</string>
		<key>detail</key>
		<string>实用的健康知识,健康小常识,生活小常识,健康保健知识,健康饮食,养生保健知识,居家常识... 。</string>
		<key>classify</key>
		<dict>
			<key>name</key>
			<string>健康知识分类</string>
			<key>describe</key>
			<string></string>
			<key>url</key>
			<string>http://www.tngou.net/api/lore/classify</string>
			<key>params</key>
			<dict/>
		</dict>
		<key>list</key>
		<dict>
			<key>name</key>
			<string>健康知识列表</string>
			<key>describe</key>
			<string>分类ID，默认返回的是全部。这里的ID就是指分类的ID</string>
			<key>url</key>
			<string>http://www.tngou.net/api/lore/list</string>
			<key>params</key>
			<array>
				<string>id</string>
				<string>page</string>
				<string>rows</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>name</key>
			<string>健康知识详情</string>
			<key>describe</key>
			<string>params.id = 列表id</string>
			<key>url</key>
			<string>http://www.tngou.net/api/lore/show</string>
			<key>params</key>
			<array>
				<string>id</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
